{
  "env": {
    "browser": {
      "presets": [
        "babili"
      ]
    },
    "browser-compat": {
      "presets": [
        "es2015",
        "babili"
      ],
      "plugins": [
        "transform-async-to-generator"
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}