{
  "plugins": [
    "transform-async-to-generator"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        "babili"
      ]
    }
  }
}